<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

    <div class="container mt-5">
        <h1>Base of marketplaces</h1>
    </div>
    <div>
        <h2>Avito</h2>
        <a> Российски интернет сервисдля публикации объявлений о товарах, вакансиях и резюме на рынке, <br>
            как индивидальных предпринимателей так и компаний, ставший лучшим в стране.</a>
    </div>
    <div>
        <h2>Youla</h2>
        <a> Российский сервис объявлений, основанный VK. Сервис доступен на сайте и в мобильном приложении</a>
    </div>
    <div>
        <h2>Amazon</h2>
        <a> Коммерческая платформа, основанная Амазоном, которая позволяет третьим лицам продавать свои товары<br>
            покупателям со своими ценами в качестве легальных предложений</a>
    </div>
    <div>
        <h2>Citylink</h2>
        <a>магазин электрической техники<br>
        <a> Российская сеть магазинов, осуществляющая продажу компьютерной, цифровой и бытовой техники и позиционирующая себя<br>
            как электронный дискаунтер, полное название ООО-Ситилинк </a>
    </div>
    <div>
        <h2>Mvideo</h2>
        <a> Российский сервис для продажи бытовой техники и электроники.Эта компания <br>
            контролируется структурами предпринимателя Саида Гуцериева.</a>
    </div>


    <footer th:insert="blocks/footer :: footer"></footer>

    </body>
</html>