<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div>
    <footer class="py-1 my-1">
        <ul class="nav justify-content-center border-bottom pb-5px mb-5px">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Главная</a></li>
            <li class="nav-item"><a href="/info" class="nav-link px-2 text-muted">Новости</a></li>
            <li class="nav-item"><a href="/parser" class="nav-link px-2 text-muted">Интрументы</a></li>
            <li class="nav-item"><a href="/base" class="nav-link px-2 text-muted">База</a></li>
        </ul>
        <p class="text-center text-muted">© 2023 Sercher, Inc</p>
    </footer>
</div>
</div>